{% extends 'base.html.twig' %}

{% block title %} Structure inventera {% endblock %}

{% block content%}
	{% if notification %}
		<div class="alert alert-info">
			{{notification}}
		</div>
	{% endif %}
<h1>Créer une nouvelle structure</h1>
    {{ form(form) }}
{% endblock %}
