{% extends 'base.html.twig' %}

{% block title %}
	Inventera
{% endblock %}

{% block content%}
	<center>
		<h1>
			Demarrer une operation d'inventaire
		</h1>
	</center><br/><br/><br>
		<center>
			<button type="button" onclick="location.href='{{ path('app_inventaire_selection') }}'" class="btn btn-primary btn-lg btn-block">
				Classique</button>
		</center>
	</br>
	<br>
		<center>
			<button type="button" onclick="location.href='{{ path('app_service') }}'" class="btn btn-primary btn-lg btn-block">
				Application</button>
		</center>
	</br><br/>
{% endblock %}
