{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block content%}
	<center>
		<table class="table" id="traitement">
			<thead>
				<tr>
					<th scope="col">Référence Unite</th>
					<th scope="col">Statut</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<td></td>
			</tbody>
		</table>
	</center>
	<button id="fin-traitement" onclick="this.disabled=true" class="btn btn-primary btn-lg btn-block">
		Terminer l 'operation</button>

{% endblock %}
