{% extends 'base.html.twig' %}

{% block title %}
	Userspace
{% endblock %}

{% block content %}
	<center>
		<h1>
			Espace utilisateur de  '{{app.user.prenom}}'
		</h1>
	</center><br/><br/><br>
		<center>
			<button type="button" onclick="location.href='/structure'" class="btn btn-primary btn-lg btn-block">Création de structures</button>
		</center>
	</br>
	<br>
		<center>
			<button type="button" onclick="location.href='/service'" class="btn btn-primary btn-lg btn-block">Création de services</button>
		</center>
	</br>
	<br>
		<center>
			<button type="button" onclick="location.href='/bien'" class="btn btn-primary btn-lg btn-block">
				Création de nouveaux biens</button>
		</center>
	</br>
	<br>
		<center>
			<button type="button" id="nvlop" onclick="location.href='/inventaire'" class="btn btn-primary btn-lg btn-block">
				Commencer une opération d'inventaire</button>
		</center>
	</br>
	<br>
		<center>
			<button type="button" id="nvlop" onclick="location.href='/file/import/'" class="btn btn-primary btn-lg btn-block">
				Importer un fichier</button>
		</center>
	</br>
	<script>
		nvlop = document.getElementById("nvlop");
var date = new Date();
month = date.getMonth();
if (month != 11) {
nvlop.disabled = true;
}
	</script>
{% endblock %}
