{% extends 'base.html.twig' %}

{% block title %} Userspace {% endblock %}

{% block content %}
    <center><h1> Bienvenu {{app.user.nom}} pour une nouvelle expérience inventera  </h1> </center><br/><br/><br/>
    <center><button   type="button" onclick="location.href='/structure'" class="btn btn-primary btn-lg btn-block">Création de structures</button></center>
    </br><br/>
    <center><button type="button" onclick="location.href='/service'" class="btn btn-primary btn-lg btn-block">Création de services</button></center>
    </br><br/>
    <center><button type="button" onclick="location.href='/bien'" class="btn btn-primary btn-lg btn-block"> Création de nouveaux biens</button></center>
    </br><br/>
    <center><button type="button" onclick="location.href='/'" class="btn btn-primary btn-lg btn-block"> Commencer une opération d'inventaire</button></center>
</br></br></br>
{% endblock %}
