{% extends 'base.html.twig' %}

{% block title %} Inventera - Account {% endblock %}

{% block content %}
    <center><h1> Bienvenue  {{ app.user.prenom | capitalize }} pour une nouvelle expérience inventera </h1> <br/></center>

{% endblock %}
