{% extends 'base.html.twig' %}
{% block title %} Password {% endblock %}

{% block content %}
    <center><h1> Modification des paramètres de votre compte</h1> <br/></center>
    <hr>
    {% if notification %}
        <div class="alert alert-info">
            {{notification}}
        </div>
    {% endif %}
    {{ form(form) }}


{% endblock %}
