{% extends 'base.html.twig' %}
{% block title %} Inventera - Password {% endblock %}

{% block content %}
    <center><h1> Modification des paramètres de votre compte</h1> <br/></center>
    <hr>
    {% if notification %}
        <div class="alert alert-info">
            {{notification}}
        </div>
    {% endif %}
    {{ form(form) }}
    <center><a href="{{ path('app_account')}}"> Retourner à l'espace utilisateur </a></center> <br/>

{% endblock %}
