{% extends 'base.html.twig' %}

{% block title %} Inventera {% endblock %}

{% block content%}
    <h1>Veuillez séléctionner le service concerné par l'impression de masse</h1>
  {{ form(form) }}

{% endblock %}