{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Inventera Administration
{% endblock %}

{% block content%}
	<center>
		<h1>
			Espace d'Administration</h1>
		<center>
		{% endblock %}
