{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block content%}
	<br>
	<br>
	<br>
	<br>
	<button id="import" onclick="location.href='{{ path('file_import_csv') }}'" class="btn btn-primary btn-lg btn-block">
		Importer un fichier CSV
	</button>
{% endblock %}
